In [290]:
import numpy as np
import pandas as pd
from subprocess import check_output
print(check_output(["ls","/home/mutant/hack"]).decode("utf8"))

index.html
testms.csv
trainms.csv

In [291]:
data = pd.read_csv('./hack/trainms.csv')
data1 = pd.read_csv('./hack/testms.csv')

In [292]:
data = data.drop(['Timestamp','Country','state'],axis = 1)
data1 = data1.drop(['Timestamp','Country','state'],axis = 1)

In [293]:
data = data.drop(['obs_consequence','mental_vs_physical','supervisor','coworkers','mental_health_interview','phys_health_interview','mental_health_interview'],axis = 1)
data1 = data1.drop(['obs_consequence','mental_vs_physical','supervisor','coworkers','mental_health_interview','phys_health_interview','mental_health_interview'],axis = 1)

In [294]:
data

,s.no,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,comments
0,1,37,Female,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,NaN
1,2,44,M,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,NaN
2,3,32,Male,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,NaN
3,4,31,Male,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,NaN
4,5,31,Male,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,35,Male,Yes,No,No,Sometimes,1-5,No,Yes,Don't know,Not sure,No,Don't know,Don't know,Somewhat easy,No,No,NaN
996,997,39,male,No,No,Yes,Rarely,100-500,Yes,Yes,Yes,Yes,No,No,Yes,Very easy,Maybe,No,NaN
997,998,31,Female,No,Yes,No,Never,More than 1000,No,No,Yes,Not sure,No,Don't know,Don't know,Don't know,Yes,Yes,NaN
998,999,32,Male,No,No,No,Rarely,500-1000,No,Yes,No,No,No,No,Don't know,Don't know,Yes,No,NaN
999,1000,27,Male,No,No,No,NaN,6-25,No,Yes,No,No,No,No,Don't know,Don't know,No,No,NaN

In [295]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,comments
0,1,25,Male,No,Yes,Often,6-25,Yes,Yes,Yes,Yes,No,Don't know,Yes,Somewhat easy,No,No,NaN
1,2,42,male,No,Yes,Sometimes,6-25,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No,NaN
2,3,34,male,No,Yes,Often,100-500,No,Yes,Yes,Yes,No,No,Yes,Very easy,No,No,NaN
3,4,26,female,No,No,Sometimes,26-100,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No,NaN
4,5,35,Male,No,Yes,Sometimes,1-5,No,Yes,No,Yes,No,No,Yes,Very easy,Yes,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,male,No,No,NaN,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No,NaN
255,256,32,Male,No,Yes,Often,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No,NaN
256,257,34,male,No,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes,NaN
257,258,46,f,No,No,NaN,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No,NaN
258,259,25,Male,No,Yes,Sometimes,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No,NaN

In [296]:
  data1['Gender'] = data1['Gender'].replace(not ['Man', 'man','Male', 'male','m', 'M', 'Woman', 'woman', 'Female', 'female', 'f','F'], 'Other')
data1['Gender'] = data1['Gender'].replace(['Man', 'man','Male', 'male','m', 'M'],'M')
data1['Gender'] = data1['Gender'].replace(['Woman', 'woman', 'Female', 'female', 'f','F'],'F')

In [297]:
  data['Gender'] = data['Gender'].replace(not ['Man', 'man','Male', 'male','m', 'M', 'Woman', 'woman', 'Female', 'female', 'f','F'], 'Other')
data['Gender'] = data['Gender'].replace(['Man', 'man','Male', 'male','m', 'M'],'M')
data['Gender'] = data['Gender'].replace(['Woman', 'woman', 'Female', 'female', 'f','F'],'F')

In [298]:
data

,s.no,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,comments
0,1,37,F,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,NaN
1,2,44,M,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,NaN
2,3,32,M,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,NaN
3,4,31,M,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,NaN
4,5,31,M,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,35,M,Yes,No,No,Sometimes,1-5,No,Yes,Don't know,Not sure,No,Don't know,Don't know,Somewhat easy,No,No,NaN
996,997,39,M,No,No,Yes,Rarely,100-500,Yes,Yes,Yes,Yes,No,No,Yes,Very easy,Maybe,No,NaN
997,998,31,F,No,Yes,No,Never,More than 1000,No,No,Yes,Not sure,No,Don't know,Don't know,Don't know,Yes,Yes,NaN
998,999,32,M,No,No,No,Rarely,500-1000,No,Yes,No,No,No,No,Don't know,Don't know,Yes,No,NaN
999,1000,27,M,No,No,No,NaN,6-25,No,Yes,No,No,No,No,Don't know,Don't know,No,No,NaN

In [299]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,comments
0,1,25,M,No,Yes,Often,6-25,Yes,Yes,Yes,Yes,No,Don't know,Yes,Somewhat easy,No,No,NaN
1,2,42,M,No,Yes,Sometimes,6-25,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No,NaN
2,3,34,M,No,Yes,Often,100-500,No,Yes,Yes,Yes,No,No,Yes,Very easy,No,No,NaN
3,4,26,F,No,No,Sometimes,26-100,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No,NaN
4,5,35,M,No,Yes,Sometimes,1-5,No,Yes,No,Yes,No,No,Yes,Very easy,Yes,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,M,No,No,NaN,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No,NaN
255,256,32,M,No,Yes,Often,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No,NaN
256,257,34,M,No,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes,NaN
257,258,46,F,No,No,NaN,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No,NaN
258,259,25,M,No,Yes,Sometimes,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No,NaN

In [300]:
mapping = {'M':1 , 'F':2 , 'Other':3}
data1['Gender'] = data1['Gender'].map(mapping)
data1['Gender'] = data1['Gender'].fillna(0)

In [301]:
mapping = {'M':1 , 'F':2 , 'Other':3}
data['Gender'] = data['Gender'].map(mapping)
data['Gender'] = data['Gender'].fillna(0)

In [302]:
data

,s.no,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,comments
0,1,37,2.0,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,NaN
1,2,44,1.0,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,NaN
2,3,32,1.0,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,NaN
3,4,31,1.0,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,NaN
4,5,31,1.0,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,35,1.0,Yes,No,No,Sometimes,1-5,No,Yes,Don't know,Not sure,No,Don't know,Don't know,Somewhat easy,No,No,NaN
996,997,39,1.0,No,No,Yes,Rarely,100-500,Yes,Yes,Yes,Yes,No,No,Yes,Very easy,Maybe,No,NaN
997,998,31,2.0,No,Yes,No,Never,More than 1000,No,No,Yes,Not sure,No,Don't know,Don't know,Don't know,Yes,Yes,NaN
998,999,32,1.0,No,No,No,Rarely,500-1000,No,Yes,No,No,No,No,Don't know,Don't know,Yes,No,NaN
999,1000,27,1.0,No,No,No,NaN,6-25,No,Yes,No,No,No,No,Don't know,Don't know,No,No,NaN

In [303]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,comments
0,1,25,1.0,No,Yes,Often,6-25,Yes,Yes,Yes,Yes,No,Don't know,Yes,Somewhat easy,No,No,NaN
1,2,42,1.0,No,Yes,Sometimes,6-25,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No,NaN
2,3,34,1.0,No,Yes,Often,100-500,No,Yes,Yes,Yes,No,No,Yes,Very easy,No,No,NaN
3,4,26,2.0,No,No,Sometimes,26-100,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No,NaN
4,5,35,1.0,No,Yes,Sometimes,1-5,No,Yes,No,Yes,No,No,Yes,Very easy,Yes,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,No,No,NaN,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No,NaN
255,256,32,1.0,No,Yes,Often,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No,NaN
256,257,34,1.0,No,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes,NaN
257,258,46,2.0,No,No,NaN,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No,NaN
258,259,25,1.0,No,Yes,Sometimes,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No,NaN

In [304]:
data = data.drop(['s.no','comments'],axis = 1)
data1 = data1.drop(['comments'],axis = 1)

In [305]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No
1,44,1.0,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No
2,32,1.0,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No
3,31,1.0,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes
4,31,1.0,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,Yes,No,No,Sometimes,1-5,No,Yes,Don't know,Not sure,No,Don't know,Don't know,Somewhat easy,No,No
996,39,1.0,No,No,Yes,Rarely,100-500,Yes,Yes,Yes,Yes,No,No,Yes,Very easy,Maybe,No
997,31,2.0,No,Yes,No,Never,More than 1000,No,No,Yes,Not sure,No,Don't know,Don't know,Don't know,Yes,Yes
998,32,1.0,No,No,No,Rarely,500-1000,No,Yes,No,No,No,No,Don't know,Don't know,Yes,No
999,27,1.0,No,No,No,NaN,6-25,No,Yes,No,No,No,No,Don't know,Don't know,No,No

In [306]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,1,25,1.0,No,Yes,Often,6-25,Yes,Yes,Yes,Yes,No,Don't know,Yes,Somewhat easy,No,No
1,2,42,1.0,No,Yes,Sometimes,6-25,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
2,3,34,1.0,No,Yes,Often,100-500,No,Yes,Yes,Yes,No,No,Yes,Very easy,No,No
3,4,26,2.0,No,No,Sometimes,26-100,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
4,5,35,1.0,No,Yes,Sometimes,1-5,No,Yes,No,Yes,No,No,Yes,Very easy,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,No,No,NaN,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No
255,256,32,1.0,No,Yes,Often,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No
256,257,34,1.0,No,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes
257,258,46,2.0,No,No,NaN,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No
258,259,25,1.0,No,Yes,Sometimes,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No

In [307]:
mapping = {'Yes':1 , 'No':2 }
data['self_employed'] = data['self_employed'].map(mapping)
data['self_employed'] = data['self_employed'].fillna(0)
data['family_history'] = data['family_history'].map(mapping)
data['family_history'] = data['family_history'].fillna(0)

In [308]:
mapping = {'Yes':1 , 'No':2 }
data1['self_employed'] = data1['self_employed'].map(mapping)
data1['self_employed'] = data1['self_employed'].fillna(0)
data1['family_history'] = data1['family_history'].map(mapping)
data1['family_history'] = data1['family_history'].fillna(0)

In [309]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No
1,44,1.0,0.0,2,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No
2,32,1.0,0.0,2,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No
3,31,1.0,0.0,1,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes
4,31,1.0,0.0,2,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,Sometimes,1-5,No,Yes,Don't know,Not sure,No,Don't know,Don't know,Somewhat easy,No,No
996,39,1.0,2.0,2,Yes,Rarely,100-500,Yes,Yes,Yes,Yes,No,No,Yes,Very easy,Maybe,No
997,31,2.0,2.0,1,No,Never,More than 1000,No,No,Yes,Not sure,No,Don't know,Don't know,Don't know,Yes,Yes
998,32,1.0,2.0,2,No,Rarely,500-1000,No,Yes,No,No,No,No,Don't know,Don't know,Yes,No
999,27,1.0,2.0,2,No,NaN,6-25,No,Yes,No,No,No,No,Don't know,Don't know,No,No

In [310]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,1,25,1.0,2,1,Often,6-25,Yes,Yes,Yes,Yes,No,Don't know,Yes,Somewhat easy,No,No
1,2,42,1.0,2,1,Sometimes,6-25,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
2,3,34,1.0,2,1,Often,100-500,No,Yes,Yes,Yes,No,No,Yes,Very easy,No,No
3,4,26,2.0,2,2,Sometimes,26-100,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
4,5,35,1.0,2,1,Sometimes,1-5,No,Yes,No,Yes,No,No,Yes,Very easy,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,2,2,NaN,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No
255,256,32,1.0,2,1,Often,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No
256,257,34,1.0,2,1,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes
257,258,46,2.0,2,2,NaN,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No
258,259,25,1.0,2,1,Sometimes,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No

In [311]:
data['work_interfere'] = data['work_interfere'].replace(['Sometimes','Rarely'],'S')

In [312]:
data1['work_interfere'] = data1['work_interfere'].replace(['Sometimes','Rarely'],'S')

In [313]:
mapping = {'Often':1 , 'S':2 , 'Never':3 }
data1['work_interfere'] = data1['work_interfere'].map(mapping)
data1['work_interfere'] = data1['work_interfere'].fillna(0)

In [314]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,1,25,1.0,2,1,1.0,6-25,Yes,Yes,Yes,Yes,No,Don't know,Yes,Somewhat easy,No,No
1,2,42,1.0,2,1,2.0,6-25,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
2,3,34,1.0,2,1,1.0,100-500,No,Yes,Yes,Yes,No,No,Yes,Very easy,No,No
3,4,26,2.0,2,2,2.0,26-100,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
4,5,35,1.0,2,1,2.0,1-5,No,Yes,No,Yes,No,No,Yes,Very easy,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,2,2,0.0,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No
255,256,32,1.0,2,1,1.0,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No
256,257,34,1.0,2,1,2.0,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes
257,258,46,2.0,2,2,0.0,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No
258,259,25,1.0,2,1,2.0,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No

In [315]:
mapping = {'Often':1 , 'S':2 , 'Never':3 }
data['work_interfere'] = data['work_interfere'].map(mapping)
data['work_interfere'] = data['work_interfere'].fillna(0)

In [316]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No
1,44,1.0,0.0,2,No,2.0,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No
2,32,1.0,0.0,2,No,2.0,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No
3,31,1.0,0.0,1,Yes,1.0,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes
4,31,1.0,0.0,2,No,3.0,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,No,Yes,Don't know,Not sure,No,Don't know,Don't know,Somewhat easy,No,No
996,39,1.0,2.0,2,Yes,2.0,100-500,Yes,Yes,Yes,Yes,No,No,Yes,Very easy,Maybe,No
997,31,2.0,2.0,1,No,3.0,More than 1000,No,No,Yes,Not sure,No,Don't know,Don't know,Don't know,Yes,Yes
998,32,1.0,2.0,2,No,2.0,500-1000,No,Yes,No,No,No,No,Don't know,Don't know,Yes,No
999,27,1.0,2.0,2,No,0.0,6-25,No,Yes,No,No,No,No,Don't know,Don't know,No,No

In [317]:
mapping = {'Yes':1 , 'No':2 }
data['tech_company'] = data['tech_company'].map(mapping)
data1['tech_company'] = data1['tech_company'].map(mapping)

In [318]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,No,1,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No
1,44,1.0,0.0,2,No,2.0,More than 1000,No,2,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No
2,32,1.0,0.0,2,No,2.0,6-25,No,1,No,No,No,No,Don't know,Somewhat difficult,No,No
3,31,1.0,0.0,1,Yes,1.0,26-100,No,1,No,Yes,No,No,No,Somewhat difficult,Yes,Yes
4,31,1.0,0.0,2,No,3.0,100-500,Yes,1,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,No,1,Don't know,Not sure,No,Don't know,Don't know,Somewhat easy,No,No
996,39,1.0,2.0,2,Yes,2.0,100-500,Yes,1,Yes,Yes,No,No,Yes,Very easy,Maybe,No
997,31,2.0,2.0,1,No,3.0,More than 1000,No,2,Yes,Not sure,No,Don't know,Don't know,Don't know,Yes,Yes
998,32,1.0,2.0,2,No,2.0,500-1000,No,1,No,No,No,No,Don't know,Don't know,Yes,No
999,27,1.0,2.0,2,No,0.0,6-25,No,1,No,No,No,No,Don't know,Don't know,No,No

In [319]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,1,25,1.0,2,1,1.0,6-25,Yes,1,Yes,Yes,No,Don't know,Yes,Somewhat easy,No,No
1,2,42,1.0,2,1,2.0,6-25,Yes,1,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
2,3,34,1.0,2,1,1.0,100-500,No,1,Yes,Yes,No,No,Yes,Very easy,No,No
3,4,26,2.0,2,2,2.0,26-100,Yes,1,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
4,5,35,1.0,2,1,2.0,1-5,No,1,No,Yes,No,No,Yes,Very easy,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,2,2,0.0,26-100,No,1,No,No,No,No,Don't know,Somewhat easy,No,No
255,256,32,1.0,2,1,1.0,26-100,Yes,1,Yes,Yes,No,No,Yes,Somewhat difficult,No,No
256,257,34,1.0,2,1,2.0,More than 1000,No,1,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes
257,258,46,2.0,2,2,0.0,100-500,Yes,1,No,Yes,No,No,Don't know,Don't know,Yes,No
258,259,25,1.0,2,1,2.0,26-100,No,2,Yes,Yes,No,No,Yes,Don't know,Maybe,No

In [320]:
mapping = {'Yes':1 , 'No':2 }
data['remote_work'] = data['remote_work'].map(mapping)
data1['remote_work'] = data1['remote_work'].map(mapping)

In [321]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,2,1,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No
1,44,1.0,0.0,2,No,2.0,More than 1000,2,2,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No
2,32,1.0,0.0,2,No,2.0,6-25,2,1,No,No,No,No,Don't know,Somewhat difficult,No,No
3,31,1.0,0.0,1,Yes,1.0,26-100,2,1,No,Yes,No,No,No,Somewhat difficult,Yes,Yes
4,31,1.0,0.0,2,No,3.0,100-500,1,1,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,2,1,Don't know,Not sure,No,Don't know,Don't know,Somewhat easy,No,No
996,39,1.0,2.0,2,Yes,2.0,100-500,1,1,Yes,Yes,No,No,Yes,Very easy,Maybe,No
997,31,2.0,2.0,1,No,3.0,More than 1000,2,2,Yes,Not sure,No,Don't know,Don't know,Don't know,Yes,Yes
998,32,1.0,2.0,2,No,2.0,500-1000,2,1,No,No,No,No,Don't know,Don't know,Yes,No
999,27,1.0,2.0,2,No,0.0,6-25,2,1,No,No,No,No,Don't know,Don't know,No,No

In [322]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,1,25,1.0,2,1,1.0,6-25,1,1,Yes,Yes,No,Don't know,Yes,Somewhat easy,No,No
1,2,42,1.0,2,1,2.0,6-25,1,1,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
2,3,34,1.0,2,1,1.0,100-500,2,1,Yes,Yes,No,No,Yes,Very easy,No,No
3,4,26,2.0,2,2,2.0,26-100,1,1,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No
4,5,35,1.0,2,1,2.0,1-5,2,1,No,Yes,No,No,Yes,Very easy,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,2,2,0.0,26-100,2,1,No,No,No,No,Don't know,Somewhat easy,No,No
255,256,32,1.0,2,1,1.0,26-100,1,1,Yes,Yes,No,No,Yes,Somewhat difficult,No,No
256,257,34,1.0,2,1,2.0,More than 1000,2,1,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes
257,258,46,2.0,2,2,0.0,100-500,1,1,No,Yes,No,No,Don't know,Don't know,Yes,No
258,259,25,1.0,2,1,2.0,26-100,2,2,Yes,Yes,No,No,Yes,Don't know,Maybe,No

In [323]:
mapping = {'Somewhat difficult':1 , 'Very difficult':2,'Somewhat easy':3,'Very easy':4,"Don't know":5 }
data['leave'] = data['leave'].map(mapping)
data1['leave'] = data1['leave'].map(mapping)

In [324]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,2,1,Yes,Not sure,No,Yes,Yes,3,No,No
1,44,1.0,0.0,2,No,2.0,More than 1000,2,2,Don't know,No,Don't know,Don't know,Don't know,5,Maybe,No
2,32,1.0,0.0,2,No,2.0,6-25,2,1,No,No,No,No,Don't know,1,No,No
3,31,1.0,0.0,1,Yes,1.0,26-100,2,1,No,Yes,No,No,No,1,Yes,Yes
4,31,1.0,0.0,2,No,3.0,100-500,1,1,Yes,No,Don't know,Don't know,Don't know,5,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,2,1,Don't know,Not sure,No,Don't know,Don't know,3,No,No
996,39,1.0,2.0,2,Yes,2.0,100-500,1,1,Yes,Yes,No,No,Yes,4,Maybe,No
997,31,2.0,2.0,1,No,3.0,More than 1000,2,2,Yes,Not sure,No,Don't know,Don't know,5,Yes,Yes
998,32,1.0,2.0,2,No,2.0,500-1000,2,1,No,No,No,No,Don't know,5,Yes,No
999,27,1.0,2.0,2,No,0.0,6-25,2,1,No,No,No,No,Don't know,5,No,No

In [325]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,1,25,1.0,2,1,1.0,6-25,1,1,Yes,Yes,No,Don't know,Yes,3,No,No
1,2,42,1.0,2,1,2.0,6-25,1,1,Don't know,No,No,Don't know,Don't know,5,Maybe,No
2,3,34,1.0,2,1,1.0,100-500,2,1,Yes,Yes,No,No,Yes,4,No,No
3,4,26,2.0,2,2,2.0,26-100,1,1,Don't know,No,No,Don't know,Don't know,5,Maybe,No
4,5,35,1.0,2,1,2.0,1-5,2,1,No,Yes,No,No,Yes,4,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,2,2,0.0,26-100,2,1,No,No,No,No,Don't know,3,No,No
255,256,32,1.0,2,1,1.0,26-100,1,1,Yes,Yes,No,No,Yes,1,No,No
256,257,34,1.0,2,1,2.0,More than 1000,2,1,Yes,Yes,No,No,Don't know,1,Yes,Yes
257,258,46,2.0,2,2,0.0,100-500,1,1,No,Yes,No,No,Don't know,5,Yes,No
258,259,25,1.0,2,1,2.0,26-100,2,2,Yes,Yes,No,No,Yes,5,Maybe,No

In [326]:
mapping = {'Yes':1 , 'No':2,'Not sure':3 }
data['care_options'] = data['care_options'].map(mapping)
data1['care_options'] = data1['care_options'].map(mapping)

In [327]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,2,1,Yes,3,No,Yes,Yes,3,No,No
1,44,1.0,0.0,2,No,2.0,More than 1000,2,2,Don't know,2,Don't know,Don't know,Don't know,5,Maybe,No
2,32,1.0,0.0,2,No,2.0,6-25,2,1,No,2,No,No,Don't know,1,No,No
3,31,1.0,0.0,1,Yes,1.0,26-100,2,1,No,1,No,No,No,1,Yes,Yes
4,31,1.0,0.0,2,No,3.0,100-500,1,1,Yes,2,Don't know,Don't know,Don't know,5,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,2,1,Don't know,3,No,Don't know,Don't know,3,No,No
996,39,1.0,2.0,2,Yes,2.0,100-500,1,1,Yes,1,No,No,Yes,4,Maybe,No
997,31,2.0,2.0,1,No,3.0,More than 1000,2,2,Yes,3,No,Don't know,Don't know,5,Yes,Yes
998,32,1.0,2.0,2,No,2.0,500-1000,2,1,No,2,No,No,Don't know,5,Yes,No
999,27,1.0,2.0,2,No,0.0,6-25,2,1,No,2,No,No,Don't know,5,No,No

In [328]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,1,25,1.0,2,1,1.0,6-25,1,1,Yes,1,No,Don't know,Yes,3,No,No
1,2,42,1.0,2,1,2.0,6-25,1,1,Don't know,2,No,Don't know,Don't know,5,Maybe,No
2,3,34,1.0,2,1,1.0,100-500,2,1,Yes,1,No,No,Yes,4,No,No
3,4,26,2.0,2,2,2.0,26-100,1,1,Don't know,2,No,Don't know,Don't know,5,Maybe,No
4,5,35,1.0,2,1,2.0,1-5,2,1,No,1,No,No,Yes,4,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,2,2,0.0,26-100,2,1,No,2,No,No,Don't know,3,No,No
255,256,32,1.0,2,1,1.0,26-100,1,1,Yes,1,No,No,Yes,1,No,No
256,257,34,1.0,2,1,2.0,More than 1000,2,1,Yes,1,No,No,Don't know,1,Yes,Yes
257,258,46,2.0,2,2,0.0,100-500,1,1,No,1,No,No,Don't know,5,Yes,No
258,259,25,1.0,2,1,2.0,26-100,2,2,Yes,1,No,No,Yes,5,Maybe,No

In [329]:
mapping = {'Yes':1 , 'No':2,"Don't know":3 }
data['benefits'] = data['benefits'].map(mapping)
data1['benefits'] = data1['benefits'].map(mapping)

In [330]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,2,1,1,3,No,Yes,Yes,3,No,No
1,44,1.0,0.0,2,No,2.0,More than 1000,2,2,3,2,Don't know,Don't know,Don't know,5,Maybe,No
2,32,1.0,0.0,2,No,2.0,6-25,2,1,2,2,No,No,Don't know,1,No,No
3,31,1.0,0.0,1,Yes,1.0,26-100,2,1,2,1,No,No,No,1,Yes,Yes
4,31,1.0,0.0,2,No,3.0,100-500,1,1,1,2,Don't know,Don't know,Don't know,5,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,2,1,3,3,No,Don't know,Don't know,3,No,No
996,39,1.0,2.0,2,Yes,2.0,100-500,1,1,1,1,No,No,Yes,4,Maybe,No
997,31,2.0,2.0,1,No,3.0,More than 1000,2,2,1,3,No,Don't know,Don't know,5,Yes,Yes
998,32,1.0,2.0,2,No,2.0,500-1000,2,1,2,2,No,No,Don't know,5,Yes,No
999,27,1.0,2.0,2,No,0.0,6-25,2,1,2,2,No,No,Don't know,5,No,No

In [331]:
mapping = {'Yes':1 , 'No':2,"Don't know":3 }
data['seek_help'] = data['seek_help'].map(mapping)
data1['seek_help'] = data1['seek_help'].map(mapping)

In [332]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,2,1,1,3,No,1,Yes,3,No,No
1,44,1.0,0.0,2,No,2.0,More than 1000,2,2,3,2,Don't know,3,Don't know,5,Maybe,No
2,32,1.0,0.0,2,No,2.0,6-25,2,1,2,2,No,2,Don't know,1,No,No
3,31,1.0,0.0,1,Yes,1.0,26-100,2,1,2,1,No,2,No,1,Yes,Yes
4,31,1.0,0.0,2,No,3.0,100-500,1,1,1,2,Don't know,3,Don't know,5,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,2,1,3,3,No,3,Don't know,3,No,No
996,39,1.0,2.0,2,Yes,2.0,100-500,1,1,1,1,No,2,Yes,4,Maybe,No
997,31,2.0,2.0,1,No,3.0,More than 1000,2,2,1,3,No,3,Don't know,5,Yes,Yes
998,32,1.0,2.0,2,No,2.0,500-1000,2,1,2,2,No,2,Don't know,5,Yes,No
999,27,1.0,2.0,2,No,0.0,6-25,2,1,2,2,No,2,Don't know,5,No,No

In [333]:
mapping = {'Yes':1 , 'No':2,"Don't know":3 }
data['mental_health_consequence'] = data['mental_health_consequence'].map(mapping)
data1['mental_health_consequence'] = data1['mental_health_consequence'].map(mapping)

In [334]:
mapping = {'Yes':1 , 'No':2,"Don't know":3 }
data['phys_health_consequence'] = data['phys_health_consequence'].map(mapping)
data1['phys_health_consequence'] = data1['phys_health_consequence'].map(mapping)

In [335]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,2,1,1,3,No,1,Yes,3,2.0,2.0
1,44,1.0,0.0,2,No,2.0,More than 1000,2,2,3,2,Don't know,3,Don't know,5,NaN,2.0
2,32,1.0,0.0,2,No,2.0,6-25,2,1,2,2,No,2,Don't know,1,2.0,2.0
3,31,1.0,0.0,1,Yes,1.0,26-100,2,1,2,1,No,2,No,1,1.0,1.0
4,31,1.0,0.0,2,No,3.0,100-500,1,1,1,2,Don't know,3,Don't know,5,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,2,1,3,3,No,3,Don't know,3,2.0,2.0
996,39,1.0,2.0,2,Yes,2.0,100-500,1,1,1,1,No,2,Yes,4,NaN,2.0
997,31,2.0,2.0,1,No,3.0,More than 1000,2,2,1,3,No,3,Don't know,5,1.0,1.0
998,32,1.0,2.0,2,No,2.0,500-1000,2,1,2,2,No,2,Don't know,5,1.0,2.0
999,27,1.0,2.0,2,No,0.0,6-25,2,1,2,2,No,2,Don't know,5,2.0,2.0

In [336]:
data['mental_health_consequence'] = data['mental_health_consequence'].fillna(0)
data1['mental_health_consequence'] = data1['mental_health_consequence'].fillna(0)
data['phys_health_consequence'] = data['phys_health_consequence'].fillna(0)
data1['phys_health_consequence'] = data1['phys_health_consequence'].fillna(0)

In [337]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,2,1,1,3,No,1,Yes,3,2.0,2.0
1,44,1.0,0.0,2,No,2.0,More than 1000,2,2,3,2,Don't know,3,Don't know,5,0.0,2.0
2,32,1.0,0.0,2,No,2.0,6-25,2,1,2,2,No,2,Don't know,1,2.0,2.0
3,31,1.0,0.0,1,Yes,1.0,26-100,2,1,2,1,No,2,No,1,1.0,1.0
4,31,1.0,0.0,2,No,3.0,100-500,1,1,1,2,Don't know,3,Don't know,5,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,2,1,3,3,No,3,Don't know,3,2.0,2.0
996,39,1.0,2.0,2,Yes,2.0,100-500,1,1,1,1,No,2,Yes,4,0.0,2.0
997,31,2.0,2.0,1,No,3.0,More than 1000,2,2,1,3,No,3,Don't know,5,1.0,1.0
998,32,1.0,2.0,2,No,2.0,500-1000,2,1,2,2,No,2,Don't know,5,1.0,2.0
999,27,1.0,2.0,2,No,0.0,6-25,2,1,2,2,No,2,Don't know,5,2.0,2.0

In [338]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence
0,1,25,1.0,2,1,1.0,6-25,1,1,1,1,No,3,Yes,3,2.0,2.0
1,2,42,1.0,2,1,2.0,6-25,1,1,3,2,No,3,Don't know,5,0.0,2.0
2,3,34,1.0,2,1,1.0,100-500,2,1,1,1,No,2,Yes,4,2.0,2.0
3,4,26,2.0,2,2,2.0,26-100,1,1,3,2,No,3,Don't know,5,0.0,2.0
4,5,35,1.0,2,1,2.0,1-5,2,1,2,1,No,2,Yes,4,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,2,2,0.0,26-100,2,1,2,2,No,2,Don't know,3,2.0,2.0
255,256,32,1.0,2,1,1.0,26-100,1,1,1,1,No,2,Yes,1,2.0,2.0
256,257,34,1.0,2,1,2.0,More than 1000,2,1,1,1,No,2,Don't know,1,1.0,1.0
257,258,46,2.0,2,2,0.0,100-500,1,1,2,1,No,2,Don't know,5,1.0,2.0
258,259,25,1.0,2,1,2.0,26-100,2,2,1,1,No,2,Yes,5,0.0,2.0

In [339]:
data = data.drop(['anonymity','wellness_program'],axis = 1)
data1 = data1.drop(['anonymity','wellness_program'],axis = 1)

In [340]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,seek_help,leave,mental_health_consequence,phys_health_consequence
0,37,2.0,0.0,2,Yes,1.0,6-25,2,1,1,3,1,3,2.0,2.0
1,44,1.0,0.0,2,No,2.0,More than 1000,2,2,3,2,3,5,0.0,2.0
2,32,1.0,0.0,2,No,2.0,6-25,2,1,2,2,2,1,2.0,2.0
3,31,1.0,0.0,1,Yes,1.0,26-100,2,1,2,1,2,1,1.0,1.0
4,31,1.0,0.0,2,No,3.0,100-500,1,1,1,2,3,5,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35,1.0,1.0,2,No,2.0,1-5,2,1,3,3,3,3,2.0,2.0
996,39,1.0,2.0,2,Yes,2.0,100-500,1,1,1,1,2,4,0.0,2.0
997,31,2.0,2.0,1,No,3.0,More than 1000,2,2,1,3,3,5,1.0,1.0
998,32,1.0,2.0,2,No,2.0,500-1000,2,1,2,2,2,5,1.0,2.0
999,27,1.0,2.0,2,No,0.0,6-25,2,1,2,2,2,5,2.0,2.0

In [341]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,seek_help,leave,mental_health_consequence,phys_health_consequence
0,1,25,1.0,2,1,1.0,6-25,1,1,1,1,3,3,2.0,2.0
1,2,42,1.0,2,1,2.0,6-25,1,1,3,2,3,5,0.0,2.0
2,3,34,1.0,2,1,1.0,100-500,2,1,1,1,2,4,2.0,2.0
3,4,26,2.0,2,2,2.0,26-100,1,1,3,2,3,5,0.0,2.0
4,5,35,1.0,2,1,2.0,1-5,2,1,2,1,2,4,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,26,1.0,2,2,0.0,26-100,2,1,2,2,2,3,2.0,2.0
255,256,32,1.0,2,1,1.0,26-100,1,1,1,1,2,1,2.0,2.0
256,257,34,1.0,2,1,2.0,More than 1000,2,1,1,1,2,1,1.0,1.0
257,258,46,2.0,2,2,0.0,100-500,1,1,2,1,2,5,1.0,2.0
258,259,25,1.0,2,1,2.0,26-100,2,2,1,1,2,5,0.0,2.0

In [342]:
data.loc[data['Age']<=16,'Age'] = 0
data.loc[ data['Age'] <= 16, 'Age'] = 0
data.loc[(data['Age'] > 16) & (data['Age'] <= 32), 'Age'] = 1
data.loc[(data['Age'] > 32) & (data['Age'] <= 48), 'Age'] = 2
data.loc[(data['Age'] > 48) & (data['Age'] <= 64), 'Age'] = 3
data.loc[ data['Age'] > 64, 'Age']

364    329
560     65
Name: Age, dtype: int64

In [343]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,seek_help,leave,mental_health_consequence,phys_health_consequence
0,2,2.0,0.0,2,Yes,1.0,6-25,2,1,1,3,1,3,2.0,2.0
1,2,1.0,0.0,2,No,2.0,More than 1000,2,2,3,2,3,5,0.0,2.0
2,1,1.0,0.0,2,No,2.0,6-25,2,1,2,2,2,1,2.0,2.0
3,1,1.0,0.0,1,Yes,1.0,26-100,2,1,2,1,2,1,1.0,1.0
4,1,1.0,0.0,2,No,3.0,100-500,1,1,1,2,3,5,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,1.0,1.0,2,No,2.0,1-5,2,1,3,3,3,3,2.0,2.0
996,2,1.0,2.0,2,Yes,2.0,100-500,1,1,1,1,2,4,0.0,2.0
997,1,2.0,2.0,1,No,3.0,More than 1000,2,2,1,3,3,5,1.0,1.0
998,1,1.0,2.0,2,No,2.0,500-1000,2,1,2,2,2,5,1.0,2.0
999,1,1.0,2.0,2,No,0.0,6-25,2,1,2,2,2,5,2.0,2.0

In [344]:
data1.loc[data1['Age']<=16,'Age'] = 0
data1.loc[ data1['Age'] <= 16, 'Age'] = 0
data1.loc[(data1['Age'] > 16) & (data1['Age'] <= 32), 'Age'] = 1
data1.loc[(data1['Age'] > 32) & (data1['Age'] <= 48), 'Age'] = 2
data1.loc[(data1['Age'] > 48) & (data1['Age'] <= 64), 'Age'] = 3
data1.loc[ data1['Age'] > 64, 'Age']

182    72
Name: Age, dtype: int64

In [345]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,seek_help,leave,mental_health_consequence,phys_health_consequence
0,1,1,1.0,2,1,1.0,6-25,1,1,1,1,3,3,2.0,2.0
1,2,2,1.0,2,1,2.0,6-25,1,1,3,2,3,5,0.0,2.0
2,3,2,1.0,2,1,1.0,100-500,2,1,1,1,2,4,2.0,2.0
3,4,1,2.0,2,2,2.0,26-100,1,1,3,2,3,5,0.0,2.0
4,5,2,1.0,2,1,2.0,1-5,2,1,2,1,2,4,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,1,1.0,2,2,0.0,26-100,2,1,2,2,2,3,2.0,2.0
255,256,1,1.0,2,1,1.0,26-100,1,1,1,1,2,1,2.0,2.0
256,257,2,1.0,2,1,2.0,More than 1000,2,1,1,1,2,1,1.0,1.0
257,258,2,2.0,2,2,0.0,100-500,1,1,2,1,2,5,1.0,2.0
258,259,1,1.0,2,1,2.0,26-100,2,2,1,1,2,5,0.0,2.0

In [346]:
mapping = {'1-5':1 , '6-25':2,"26-100":3,"100-500":4,"500-1000":5,'More than 1000':6 }
data['no_employees'] = data['no_employees'].map(mapping)
data1['no_employees'] = data1['no_employees'].map(mapping)

In [347]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,seek_help,leave,mental_health_consequence,phys_health_consequence
0,2,2.0,0.0,2,Yes,1.0,2,2,1,1,3,1,3,2.0,2.0
1,2,1.0,0.0,2,No,2.0,6,2,2,3,2,3,5,0.0,2.0
2,1,1.0,0.0,2,No,2.0,2,2,1,2,2,2,1,2.0,2.0
3,1,1.0,0.0,1,Yes,1.0,3,2,1,2,1,2,1,1.0,1.0
4,1,1.0,0.0,2,No,3.0,4,1,1,1,2,3,5,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,1.0,1.0,2,No,2.0,1,2,1,3,3,3,3,2.0,2.0
996,2,1.0,2.0,2,Yes,2.0,4,1,1,1,1,2,4,0.0,2.0
997,1,2.0,2.0,1,No,3.0,6,2,2,1,3,3,5,1.0,1.0
998,1,1.0,2.0,2,No,2.0,5,2,1,2,2,2,5,1.0,2.0
999,1,1.0,2.0,2,No,0.0,2,2,1,2,2,2,5,2.0,2.0

In [348]:
data1

,s.no,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,seek_help,leave,mental_health_consequence,phys_health_consequence
0,1,1,1.0,2,1,1.0,2,1,1,1,1,3,3,2.0,2.0
1,2,2,1.0,2,1,2.0,2,1,1,3,2,3,5,0.0,2.0
2,3,2,1.0,2,1,1.0,4,2,1,1,1,2,4,2.0,2.0
3,4,1,2.0,2,2,2.0,3,1,1,3,2,3,5,0.0,2.0
4,5,2,1.0,2,1,2.0,1,2,1,2,1,2,4,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,255,1,1.0,2,2,0.0,3,2,1,2,2,2,3,2.0,2.0
255,256,1,1.0,2,1,1.0,3,1,1,1,1,2,1,2.0,2.0
256,257,2,1.0,2,1,2.0,6,2,1,1,1,2,1,1.0,1.0
257,258,2,2.0,2,2,0.0,4,1,1,2,1,2,5,1.0,2.0
258,259,1,1.0,2,1,2.0,3,2,2,1,1,2,5,0.0,2.0

In [349]:
data.isnull().any()

Age                          False
Gender                       False
self_employed                False
family_history               False
treatment                    False
work_interfere               False
no_employees                 False
remote_work                  False
tech_company                 False
benefits                     False
care_options                 False
seek_help                    False
leave                        False
mental_health_consequence    False
phys_health_consequence      False
dtype: bool

In [350]:
data1.isnull().any()

s.no                         False
Age                          False
Gender                       False
self_employed                False
family_history               False
work_interfere               False
no_employees                 False
remote_work                  False
tech_company                 False
benefits                     False
care_options                 False
seek_help                    False
leave                        False
mental_health_consequence    False
phys_health_consequence      False
dtype: bool

In [351]:
from sklearn.tree import DecisionTreeClassifier

In [352]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,seek_help,leave,mental_health_consequence,phys_health_consequence
0,2,2.0,0.0,2,Yes,1.0,2,2,1,1,3,1,3,2.0,2.0
1,2,1.0,0.0,2,No,2.0,6,2,2,3,2,3,5,0.0,2.0
2,1,1.0,0.0,2,No,2.0,2,2,1,2,2,2,1,2.0,2.0
3,1,1.0,0.0,1,Yes,1.0,3,2,1,2,1,2,1,1.0,1.0
4,1,1.0,0.0,2,No,3.0,4,1,1,1,2,3,5,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,1.0,1.0,2,No,2.0,1,2,1,3,3,3,3,2.0,2.0
996,2,1.0,2.0,2,Yes,2.0,4,1,1,1,1,2,4,0.0,2.0
997,1,2.0,2.0,1,No,3.0,6,2,2,1,3,3,5,1.0,1.0
998,1,1.0,2.0,2,No,2.0,5,2,1,2,2,2,5,1.0,2.0
999,1,1.0,2.0,2,No,0.0,2,2,1,2,2,2,5,2.0,2.0

In [353]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,seek_help,leave,mental_health_consequence,phys_health_consequence
0,2,2.0,0.0,2,Yes,1.0,2,2,1,1,3,1,3,2.0,2.0
1,2,1.0,0.0,2,No,2.0,6,2,2,3,2,3,5,0.0,2.0
2,1,1.0,0.0,2,No,2.0,2,2,1,2,2,2,1,2.0,2.0
3,1,1.0,0.0,1,Yes,1.0,3,2,1,2,1,2,1,1.0,1.0
4,1,1.0,0.0,2,No,3.0,4,1,1,1,2,3,5,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,1.0,1.0,2,No,2.0,1,2,1,3,3,3,3,2.0,2.0
996,2,1.0,2.0,2,Yes,2.0,4,1,1,1,1,2,4,0.0,2.0
997,1,2.0,2.0,1,No,3.0,6,2,2,1,3,3,5,1.0,1.0
998,1,1.0,2.0,2,No,2.0,5,2,1,2,2,2,5,1.0,2.0
999,1,1.0,2.0,2,No,0.0,2,2,1,2,2,2,5,2.0,2.0

In [394]:
mapping = {1:'Yes' , 2:'No'}
data['treatment'] = data['treatment'].map(mapping)

In [355]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,seek_help,leave,mental_health_consequence,phys_health_consequence
0,2,2.0,0.0,2,1,1.0,2,2,1,1,3,1,3,2.0,2.0
1,2,1.0,0.0,2,2,2.0,6,2,2,3,2,3,5,0.0,2.0
2,1,1.0,0.0,2,2,2.0,2,2,1,2,2,2,1,2.0,2.0
3,1,1.0,0.0,1,1,1.0,3,2,1,2,1,2,1,1.0,1.0
4,1,1.0,0.0,2,2,3.0,4,1,1,1,2,3,5,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,1.0,1.0,2,2,2.0,1,2,1,3,3,3,3,2.0,2.0
996,2,1.0,2.0,2,1,2.0,4,1,1,1,1,2,4,0.0,2.0
997,1,2.0,2.0,1,2,3.0,6,2,2,1,3,3,5,1.0,1.0
998,1,1.0,2.0,2,2,2.0,5,2,1,2,2,2,5,1.0,2.0
999,1,1.0,2.0,2,2,0.0,2,2,1,2,2,2,5,2.0,2.0

In [395]:
data1.isnull().any()

s.no              False
Age               False
Gender            False
family_history    False
work_interfere    False
remote_work       False
leave             False
dtype: bool

In [396]:
data.isnull().any()

Age               False
Gender            False
family_history    False
treatment         False
work_interfere    False
remote_work       False
leave             False
dtype: bool

In [397]:
from sklearn.tree import DecisionTreeClassifier

In [398]:
X_train = data.drop("treatment", axis=1)
Y_train = data["treatment"]
X_test  = data1.drop("s.no", axis=1).copy()
X_train

     Age  Gender  family_history  work_interfere  remote_work  leave
0      2     2.0               2             1.0            2      3
1      2     1.0               2             2.0            2      5
2      1     1.0               2             2.0            2      1
3      1     1.0               1             1.0            2      1
4      1     1.0               2             3.0            1      5
..   ...     ...             ...             ...          ...    ...
995    2     1.0               2             2.0            2      3
996    2     1.0               2             2.0            1      4
997    1     2.0               1             3.0            2      5
998    1     1.0               2             2.0            2      5
999    1     1.0               2             0.0            2      5

[1000 rows x 6 columns]

In [399]:
classifier = DecisionTreeClassifier()
classifier.fit(X_train , Y_train)
prediction = classifier.predict(X_test)
prediction

array(['Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes',
       'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No',
       'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No',
       'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No',
       'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes',
       'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No',
       'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes',
       'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No',
       'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes',
       'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes',
       'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes'],
      dtype=object)

In [400]:
result = classifier.score(X_train, Y_train)
result

0.859

In [362]:
gender_submission = pd.DataFrame({
        "s.no": data1["s.no"],
        "treatment": prediction
    })

In [363]:
import os
os.getcwd()

'/home/mutant'

In [401]:
submit= pd.DataFrame({
        "s.no": data1["s.no"],
        "treatment": prediction
    })

In [402]:
submit.to_csv('submit.csv')

In [366]:
data = data.drop(['care_options','seek_help'],axis = 1)
data1 = data1.drop(['care_options','seek_help'],axis = 1)

In [367]:
data = data.drop(['benefits','phys_health_consequence','mental_health_consequence'],axis = 1)
data1 = data1.drop(['benefits','phys_health_consequence','mental_health_consequence'],axis = 1)

In [390]:
data1.isnull().any()

s.no              False
Age               False
Gender            False
family_history    False
work_interfere    False
remote_work       False
leave             False
dtype: bool

In [391]:
data.isnull().any()

Age               False
Gender            False
family_history    False
treatment         False
work_interfere    False
remote_work       False
leave             False
dtype: bool

In [392]:
X_train = data.drop("treatment", axis=1)
Y_train = data["treatment"]
X_test  = data1.drop("s.no", axis=1).copy()
X_train

     Age  Gender  family_history  work_interfere  remote_work  leave
0      2     2.0               2             1.0            2      3
1      2     1.0               2             2.0            2      5
2      1     1.0               2             2.0            2      1
3      1     1.0               1             1.0            2      1
4      1     1.0               2             3.0            1      5
..   ...     ...             ...             ...          ...    ...
995    2     1.0               2             2.0            2      3
996    2     1.0               2             2.0            1      4
997    1     2.0               1             3.0            2      5
998    1     1.0               2             2.0            2      5
999    1     1.0               2             0.0            2      5

[1000 rows x 6 columns]

In [393]:
classifier = DecisionTreeClassifier()
classifier.fit(X_train , Y_train)
prediction = classifier.predict(X_test)
prediction

array([1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 1,
       2, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1,
       2, 2, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2,
       1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2,
       1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1,
       1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 2,
       1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1,
       1, 2, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1,
       1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1])

In [372]:
result = classifier.score(X_train, Y_train)
result

0.937

In [373]:
submit= pd.DataFrame({
        "s.no": data1["s.no"],
        "treatment": prediction
    })

In [374]:
submit.to_csv('submit.csv')

In [375]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,leave
0,2,2.0,0.0,2,1,1.0,2,2,1,3
1,2,1.0,0.0,2,2,2.0,6,2,2,5
2,1,1.0,0.0,2,2,2.0,2,2,1,1
3,1,1.0,0.0,1,1,1.0,3,2,1,1
4,1,1.0,0.0,2,2,3.0,4,1,1,5
...,...,...,...,...,...,...,...,...,...,...
995,2,1.0,1.0,2,2,2.0,1,2,1,3
996,2,1.0,2.0,2,1,2.0,4,1,1,4
997,1,2.0,2.0,1,2,3.0,6,2,2,5
998,1,1.0,2.0,2,2,2.0,5,2,1,5
999,1,1.0,2.0,2,2,0.0,2,2,1,5

In [380]:
data1

,s.no,Age,Gender,family_history,work_interfere,no_employees,remote_work,tech_company,leave
0,1,1,1.0,1,1.0,2,1,1,3
1,2,2,1.0,1,2.0,2,1,1,5
2,3,2,1.0,1,1.0,4,2,1,4
3,4,1,2.0,2,2.0,3,1,1,5
4,5,2,1.0,1,2.0,1,2,1,4
...,...,...,...,...,...,...,...,...,...
254,255,1,1.0,2,0.0,3,2,1,3
255,256,1,1.0,1,1.0,3,1,1,1
256,257,2,1.0,1,2.0,6,2,1,1
257,258,2,2.0,2,0.0,4,1,1,5
258,259,1,1.0,1,2.0,3,2,2,5

In [388]:
data = data.drop(['no_employees'],axis = 1)

In [389]:
data

,Age,Gender,family_history,treatment,work_interfere,remote_work,leave
0,2,2.0,2,1,1.0,2,3
1,2,1.0,2,2,2.0,2,5
2,1,1.0,2,2,2.0,2,1
3,1,1.0,1,1,1.0,2,1
4,1,1.0,2,2,3.0,1,5
...,...,...,...,...,...,...,...
995,2,1.0,2,2,2.0,2,3
996,2,1.0,2,1,2.0,1,4
997,1,2.0,1,2,3.0,2,5
998,1,1.0,2,2,2.0,2,5
999,1,1.0,2,2,0.0,2,5

In [268]:
data

,Age,Gender,self_employed,family_history,treatment,work_interfere,remote_work
0,2,2.0,0.0,2,Yes,1.0,2
1,2,1.0,0.0,2,No,2.0,2
2,1,1.0,0.0,2,No,2.0,2
3,1,1.0,0.0,1,Yes,1.0,2
4,1,1.0,0.0,2,No,3.0,1
...,...,...,...,...,...,...,...
995,2,1.0,1.0,2,No,2.0,2
996,2,1.0,2.0,2,Yes,2.0,1
997,1,2.0,2.0,1,No,3.0,2
998,1,1.0,2.0,2,No,2.0,2
999,1,1.0,2.0,2,No,0.0,2